$font-family: Roboto, sans-serif;
$font-style: normal;
$font-weight: 400;
$font-size: 14px;
$letter-spacing: 0.03em;


$primary-textcolor:  #212121;
$secondary-textcolor: #FFFFFF;
$thirdly-textcolor: #757575;

$accent-color: #2196F3;

$display: flex;
$items: "details", "punctuality", "planning", "moderntech"; 
$icons: "instagram", "twitter", "facebook", "linkedin";

$primary-backgroundcolor: #FFFFFF;
$secondary-backgroundcolor: #F5F4FA;

$transition-duration: 250ms;
$transition-delay: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);


$instagram: url(../images/instagram.png);
$twitter: url(../images/twitter.png);
$facebook: url(../images/facebook.png);
$linkedin: url(../images/linkedin.png);